.modal {
    background-color: rgba(120, 120, 120, 0.44);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;

    &-content {
      border: 3px solid rgba(0, 0, 0, 0.584);
      background: linear-gradient(to left, rgb(253, 253, 184), rgb(255, 119, 119));
      padding: 30px;
      width: 500px;
      height: 200px;
      position: relative;
    }

    &-title {
      margin-top: 10px;
    }

    &-close {
      width: 25px;
      height: 25px;
      background: rgba(39, 180, 250, 0.466);
    }

    & p {
      text-align: center;
      padding-bottom: 15px;
    }
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
