#root {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

body {
    background-image: url(../src/components/Img/main.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}